[Unit]
Description=Docker Registry Container
Wants=home-registryuser-storage.mount
After=home-registryuser-storage.mount

[Container]
Image=docker.io/library/registry:2
PublishPort=5000:5000
Volume=/home/registryuser/storage:/var/lib/registry:Z

[Service]
Restart=always

[Install]
WantedBy=default.target