[Unit]
Description=Nextcloud AIO Container
#After=nginx
#Wants=nginx
#RequiresMountsFor=/home/ncuser/nextcloud/data
#AssertPathIsMountPoint=/home/ncuser/nextcloud/data

[Container]
Image=docker.io/nextcloud/all-in-one:latest
ContainerName=nextcloud
Volume=%h/storage/nextcloud/data:/mnt/ncdata:Z
Environment=APACHE_PORT=11000
Environment=NEXTCLOUD_DATADIR=/mnt/ncdata
Environment=NEXTCLOUD_MOUNT=/mnt/ncdata
#Environment=NEXTCLOUD_TRUSTED_DOMAINS=your-domain.com
#Environment=NEXTCLOUD_TRUSTED_PROXIES=10.88.0.0/16
#Environment=TRUSTED_PROXIES=10.88.0.0/16
#Environment=APACHE_DISABLE_REWRITE_IP=1
#Environment=OVERWRITEPROTOCOL=https
#Environment=OVERWRITEHOST=your-domain.com
#Environment=OVERWRITECLIURL=https://your-domain.com
Network=wwwusernet.network
#NoNewPrivileges=true
#DropCapability=ALL
#AddCapability=CHOWN,SETGID,SETUID,DAC_OVERRIDE
#SecurityLabelDisable=true

[Service]
Restart=no
RestartSec=30
TimeoutStartSec=900

[Install]
WantedBy=default.target