[Unit]
Description=Hetzner Storage Box CIFS Mount L1 for Registry
Requires=network-online.target
After=network-online.target

[Mount]
What=//u324047-sub5.your-storagebox.de/u324047-sub5
Where=/home/registryuser/storage
Type=cifs
Options=vers=3.0,credentials=/home/registryuser/creds-storage,uid=1001,gid=1001,file_mode=0660,dir_mode=0770,_netdev
TimeoutSec=30

[Install]
WantedBy=default.target